#container {
  height: 427px;
  width: 427px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding: 16px;
  gap: 5px;
}

#btn {
  background-color: darkgray;
  border: solid 2px;
  border-radius: 5px;
}

