#container {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: auto;
  align-content: center;
}

#btn {
  background-color: darkgray;
  border: solid 2px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex: 1 1 auto;
  height: 600px;
}

.gridItem {
  flex: 1 1 auto;
  border: 1px solid black;
  width: 600px;
}